.container {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.linkContainer {
  height: 240px;
  overflow-y: auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.noLinksMessage {
  position: relative;
  top: 40px;
}
