.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.plotHeader {
  padding: 0.5em 1em 1em;
}

.searchHeader {
  padding: 1em;
}

.burialsUnkown {
  padding-top: 1em;
}

.buriedMembersContainer {
  padding: 0 1em;
}

.overflow {
  overflow: auto;
}
