.title {
  align-self: flex-start;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1em;
}

.imagePreview {
  max-width: 350px;
  max-height: 350px;
  padding-right: 1em;
}

.container {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-grow: 1;
}

.input {
  display: none;
}

.displayImageContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
