.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 750px;
}

.input {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.message {
  padding: 2em;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.buttonSpace {
  width: 1em;
}
