.container {
  padding: 1em;
  flex: 1;
  overflow-y: auto;
}

.plotMembersList {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.link:hover p {
  text-decoration: underline;
}

.linkTitle {
  padding: 1em;
  overflow: hidden;
}

.summaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
