.container {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.title {
  width: 2.5em;
}

.textField {
  background-color: white;
  border-radius: 4px;
}

.saveButtonContainer {
  text-align: end;
}

.plotSelect {
  background-color: white;
  border-radius: 4px;
  min-width: 180px;
}
