.container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.image {
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  background-image: url("StMarksAnglicanChurch.jpeg");
}
