.container {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.anecdotesContainer {
  display: flex;
  gap: 1em;
  overflow-x: auto;
  height: 20em;
}

.anecdoteCard {
  min-width: 20em;
  max-width: 20em;
  text-align: justify;
  max-height: 18em;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.deleteIcon {
  float: right;
}

.noAnecdotesMessage {
  align-self: center;
  width: 100%;
}
